@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
        --themeRed:#e43a47;
        --gray:#efefef;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    
}

html {
    scroll-behavior: smooth;
}

button, 
body { 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        z-index: 2;
}



header .container{
    display: flex;
    justify-content: space-between;
}

header .container .logo {
    padding: 2% 0;
    height: 75px;
}

header .container .logo img {
    height: 500%;
}

header nav ul{
   list-style-type: none; 
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 22px;
    color: white;
    transition: 0.3s;

}

header nav ul li a:hover{
    background-color: var(--themeRed);
}

p {
    font-size: 14px;
    line-height: 26px;
}

.container{
    width: 1140px;
    margin: auto;
}

.fullContainer{
    width: 100%;
}

.overview{
    width: 1140px;
    margin: auto;
    position: relative;
}


section{
    padding: 100px 0;
    position: relative;
}

.banner{
    min-height: 100vh;
    width: 100%;
    background-image: url("ABOUTBack.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.banner h1{
    margin-top: 230px;
    display: inline-block; 
    font-size: 3.5rem;
    color: #fff;
    text-shadow: 0 0 2px #000;
    width:50%;
    line-height: 4.2rem;
    font-weight: 100;
}

.banner h1 span{
       background-color: var(--themeRed);
       display: inline-block;
       line-height: 3.5rem;
       padding: 0 15px;
       font-weight: 600;
       border-radius: 5px;
}

.banner p{
       color: #fff;
       width: 50%;
       text-shadow: 0 0 2px #000;
       margin-top: 10px;
}

.banner button{
       background-color: var(--themeRed);
       border: 0;
       outline: none;
       color: #fff;
       padding: 10px 15px;
       margin-top: 20px;
       font-size: 13px;
       border-radius: 3px;
       font-weight: 600;
}

form{
    margin-bottom: 150px;
}

#aboutSection .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: 245px;
}

#aboutSection .cards > div {
    width: 350px;
    background-color: var(--gray);
    padding: 35px;
    color: #444;
    text-align: center;
    border-radius: 5px;
    height: 215px;
    border: 1px solid #ccc;
    transition: 0.4s;
}

#aboutSection .cards > div:hover{
        width: 400px;
        margin-top: -20px;
        border-color: var(--themeRed);
        padding: 55px;
        height: auto;
}

#aboutSection .cards > div .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}


#aboutSection .cards > div p{
    font-size: 14px;
    margin-top: 15px;
}

#aboutSection .cards > div button{
    border: 1px solid var(--themeRed);
    outline: none;
    padding: 7px 15 px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#aboutSection .cards > div:hover button{
        background-color: var(--themeRed);
        color: #fff;

}

.sectionTitle{
    width: 300px;
    border-bottom: 3px solid var(--themeRed);
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectionTitle::after{
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color:var(--themeRed);
    position: absolute;
    left: calc(50% - 10px);
    top:calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
}

section{
    padding: 100px 0;
    position: relative;
}

.programs{
    background-color: #e2e2e2;

}

.programs .boxContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px;
}

.programs .boxContainer .box{
    background-color: #fff;
    text-align: center;
    padding-bottom: 25px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #c5c5c5;
    position: relative;
    margin-bottom: 15px;
}

.programs .boxContainer .box .cardImage{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.programs .boxContainer .box .cardImage::after{
    width: 100%;
    height:100%;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(100%);
    transition: 0.4s;
}

.programs .boxContainer .box:nth-child(1) .cardImage,
.programs .boxContainer .box:nth-child(1) .cardImage::after{
background-image: url(IthembaHomeEducation.jpg);     
}

.programs .boxContainer .box:nth-child(2) .cardImage,
.programs .boxContainer .box:nth-child(2) .cardImage::after{
background-image: url(IthembaHomeEssentials.jpg);     
}

.programs .boxContainer .box:nth-child(3) .cardImage,
.programs .boxContainer .box:nth-child(3) .cardImage::after{
background-image: url(IthembaHomeCounselling.jpg);     
}

.programs .boxContainer .box:nth-child(4) .cardImage,
.programs .boxContainer .box:nth-child(4) .cardImage::after{
background-image: url(IthembaHomeChildrendrive.jpg);     
}

.programs .boxContainer .box:hover .cardImage::after{
    top: 100%;
}

.programs .boxContainer .box .programTitle{
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
    color: #444;
}

.programs .boxContainer .box .donationCount{
    font-size: 13px;
    font-weight: 600;
    color: #444;
    margin-top: 10px;
}

.programs .boxContainer .box .donationCount span{
    color: var(--themeRed);
}

.programs .boxContainer .box button{
    position: absolute;
    left: 50%;
    background-color: var(--themeRed);
    color: #fff;
    transform: translate(-50%);
    bottom: -15px;
    border-radius: 60px;
    padding: 7px 15px;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer{
    background-color: #181818;
    color: #7f7f7f;
    padding: 50px 0;
    font-size: 14px;
}

.aboutfooter {
    margin-top: 750px;
}

footer .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

footer .title{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid;
    margin-bottom: 30px;
    padding: 0 0 5px 0;
}

footer p{
    margin-bottom: 10px;
}

footer .linksContainer ul{
    list-style-type: none;
}

footer .linksContainer ul li a{
    text-decoration: none;
    color: #7f7f7f;
    margin-bottom: 10px;
    display: inline-block;
}

footer .newsLetterContainer img{
    height: 40px;
    margin-bottom: 11px;
}

footer .newsLetterContainer input{
    background-color: transparent;
    border: 1px solid #7f7f7f;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
    color: #ccc;
    border-radius: 30px;
}

#news{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 85px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.newsHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsHeading span{
    color: #f33c3c;
}

.newsHeading h3{
    font-size: 38px;
    color: #2b2b2b;
    font-weight: 600;
}

.newsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.newsBox{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}

.newsImg{
    width: 100%;
    height: auto;
}

.newsImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.newsText{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.newsText span{ 
    color: #f33c3c;
    font-size: 0.9rem;
}

.newsText .newsTitle{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.newsText .newsTitle:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

.newsText p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.newsText a{
    color: #0f0f0f;
}

.newsText a:hover{
    color: var(--themeRed);
    transition: all ease 0.3s;
}



.map_main {
    width: 100%;
    float: left;
    padding-top: 80px;
}

form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

.map_main {
    position: absolute;
    top: 215px; 
    right: 100px; 
    width: 300px; 
    height: 550px; 
}

.contact_taital{
    text-align: center;
}

@media(max-width:1250px){
    .newsBox{
        width: 300px;
    }
}

@media(max-width:110px){
    .newsBox{
        width: 70%;
    }
}

@media(max-width:550px){
    .newsBox{
        margin: 20px 10px;
        width: 100%;
    }
    #news{
        padding: 20px;
    }
}

/*part 2 improvements */
@media screen and (max-width: 1140px){
    .container{
        width: 100%;
        padding: 0 15px;
    }

    #homeSection .fullContainer .banner .header .div .container div .logo a img{
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (max-width: 1080px){
    .banner h1{
        margin-top: 200px;
    }
    #aboutSection .cards {
        justify-content: space-around;
        height: auto;
    }

    #aboutSection .cards > div {
        margin: 10px 0;
    }
}



@media screen and (max-width: 1024px) {
    .banner{
        background-position: 45%;
    }

    .banner h1{
        font-size: 2.5rem;
    }

    .programs .boxContainer{
        grid-template-columns: repeat(2,1fr);
    }
    .IthembaHomelogo{
        width: 100px;
        max-height: 60px;
    }
}

@media screen and (max-width: 768px){
    header nav {
        position: relative;
        border: 2px solid #fff;
        height: 30px;
        width: 30px;
        margin-top: 20px;
        border-radius: 5px;
    }

    header nav::after{
        top: 17px;
    }
    header nav::before{
        top: 7px;
    }
    header nav::after, header nav::before{
        content: "";
        height: 2px;
        width: 17px;
        background-color: #fff;
        display: block;
        position: absolute;
        left: 5px;
    }

    header nav ul{
        position: absolute;
        right: -400px;
        top: 53px;
        transition: 0.5s;
    }

    header nav:hover ul {
        right: 0;
    }
    header nav ul li {
        display: block;
    }

    header nav ul li a{
        width: 300px;
        background-color: rgba(0, 0, 0, 0.6);   
    }
    .banner{
        background-position-x: 65%;
    }
    .banner p{
        font-size: 14px;
    }

    .banner p, .banner h1{
        width: 70%;
    }
    #aboutSection .cards > div:hover{
        width: 350px;
    }
    .IthembaHomelogo{
        width: 100px;
        max-height: 60px;
    }
}

@media screen and (max-width: 425px){
    .banner h1{
        margin-top: 150px;
        font-size: 2rem;
        line-height: 3rem;
    }
    .banner button {
        margin-bottom: 10px;
    }
    #aboutSection p{
        text-align: justify;
    }
    #aboutSection .cards > div:hover{
        width: 400px;
        margin-top: 10px;
        padding: 35px;
    }
    .programs .boxContainer{
        grid-template-columns: 1fr;
    }
    footer .container {
        grid-template-columns: 1fr;
    }

    .IthembaHomelogo{
        width: 100px;
        max-height: 60px;
    }

}

@media screen and (max-width: 320px){
    .banner h1{
        margin-top: 100px;
    }

    .IthembaHomelogo{
        width: 100px;
        max-height: 60px;
    }
}


#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#myModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#paymentFormOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#paymentForm {
    background: #fff;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
